.side_bar_menu {
  background-color: #3326ae;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 20px;
}
.icon {
  color: rgba(128, 128, 128, 0.521);
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.icon:hover {
  color: red;
}
.icon_active {
  color: red;
  background-color: white;
  border-radius: 10px;
  right: -20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px #edecf7;
}
.icon_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 20px;
  width: max-content;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .app_container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #3326ae;
    width: 100%;
  }
  .icon_wrapper {
    position: relative;
    flex-direction: row;
    place-content: space-around;
    width: 100%;
  }
  .side_bar_menu {
    background-color: #3326ae;
    height: max-content;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 20px;
    width: 100%;
  }
  .icon_active {
    color: red;
    background-color: white;
    border-radius: 10px;
    right: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px #edecf7;
    top: -15px;
  }
}
